*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* "https://i.ibb.co/3cYHQ2z/cover.png"  */
/* <img src="https://i.ibb.co/sF8wNw8/alllll.png" */
/* "https://i.ibb.co/4PFQ5vf/cov.png"  */
/* "https://i.ibb.co/7JNncv4/com.png" */
/* #538f48 */
/* imports */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Changa+One:ital@0;1&family=Coiny&family=Concert+One&family=Days+One&display=swap');




.footer1 {
  font-family: sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: x-large;
}

.navbar {
  font-family: sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: x-large;
}





/* Admin Content */
.AdiCont {
  font-family:  sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: medium;
}





/* Admin COntent */
@media screen and (max-width: 460px) {
  #cardPro{
    width: auto;
  }
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
#edithi{
  width: 1rem;
}
  table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
  }

  table th,
  table td {
    padding: 0.625em;
    text-align: center;
  }

  table th {
    font-size: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  

  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }

    table {
      font-size: 1.3em;
    }

    th {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }

    td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }

    table td::before {
 

      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }

}


